#wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.activePollMenu {
    display:inline-block;
    width:100%;
    height:270px;
    color: black;
    border-bottom: 1px solid #ff8f00;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}

.cardWrapper {
    float:left;
    display:inline-block;
    width: calc(100% - 20px);
    height: 300px;
}
.indicatorWrapper {
    float:left;
    display:inline-block;
    width: 10px;
    height: 270px;
    background-color:green;
}
.descriptionBox {
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ff8f00;
}

.voteBox {
    width:100%;
    height:220px;
    position:absolute;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.leftImg {
    width: 200px;
    height:200px;
    max-width: 99%;
    position:absolute;
    top: 10px;
    left: calc(25% - 100px);
    background-color: grey;
}

.rightImg {
    width: 200px;
    height:200px;
    max-width: 99%;
    position:absolute;
    top: 10px;
    left: calc(75% - 100px);
    background-color: grey;
}

.leftVote {
    width:50%;
    height:100%;
    float:left;
    border-right: 1px solid black;
    display:inline-block;

}

.rightVote {
    width:50%;
    height:100%;
    float:right;
    display:inline-block;
}

.leftLabel {
    width:25px;
    height:100%;
    float:left;
    display:inline-block;
    background-color:green;
}

.leftCounter {
    width:calc(100% - 25px);
    height:100%;
    float:right;
    display:inline-block;
    background-color:blue;
}

.rightLabel {
    width:25px;
    height:100%;
    float:right;
    display:inline-block;
    background-color:yellow;
}

.rightCounter {
    width:calc(100% - 25px);
    height:100%;
    float:left;
    display:inline-block;
    background-color:red;
}

#addPollDiv {
    width:100%;
    background-color: #ff8f00;
    border-bottom: 1px solid #ff8f00;
    border-top: 1px solid white;
    top: 7px;
    display:flex;
    justify-content: center;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}

#createNewPollForm {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    transition: display 0.5s;
    -moz-transition: display 0.5s;
    -webkit-transition: display 0.5s;
    -o-transition: display 0.5s;
    
}

.addPollForm {
    height:0px;
    border-top: 1px solid white;
    width:100%;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}


#addPollButton {
    position: absolute;
    color: white;
    left: calc(50% - 5px);
    top: 15px;
    transition: top 1s, color 1s;
    -moz-transition: top 1s, color 1s;
    -webkit-transition: top 1s, color 1s;
    -o-transition: top 1s, color 1s;

}
    
#activePolls {
    display: flex;
    flex-direction: column;
    float:left;
    width: 33%;
    height:97vh;
}

#activePollBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
}

#inactivePolls {
    width:100%;
    display: flex;
}

#newPoll {
/*    position: fixed;
    bottom: 50px;
    right: 50px;*/
}


#rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

