#wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.activePollMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:calc(100% - 2px);
    height:60px;
    color: black;
    background-color: white;
    /*border: 1px solid white;*/
}

.selectTab {
    display: flex;
    flex-direction: row;
    float:left;
    width: 33%;
    height: 35px;
    line-height: 35px;
    justify-content: center;
    cursor:pointer
}
/*
.selectTab:hover {
    background-color: black; !important
    color:white; !important
    opacity:0.6; !important 
    cursor:pointer;
}*/

#newPollMenu {
    display:inline-block;
    background-color:black

    transition: height 1s;
    -moz-transition: height 1s; /* Firefox 4 */
    -webkit-transition: height 1s; /* Safari and Chrome */
    -o-transition: height 1s; /* Opera */
}

#activePolls {
    display: flex;
    flex-direction: column;
    float:left;
    width: 33%;
    height:97vh;
}

#activePollBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
}

#inactivePolls {
    width:100%;
    display: flex;
}

#newPoll {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#newPollForm {
    display: flex;
}

#rightContainer {
    width: 100%;
    margin-left: 10px;
    background-color: red;
}

