#wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.activePollMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:calc(100% - 2px);
    height:0px;
    color: black;
    border-bottom: 1px solid #ff8f00;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}

#addPollDiv {
    width:100%;
    background-color: #ff8f00;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 7px;
    display:flex;
    justify-content: center;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}

#createNewPollForm {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    transition: display 0.5s;
    -moz-transition: display 0.5s;
    -webkit-transition: display 0.5s;
    -o-transition: display 0.5s;
    
}

.addPollForm {
    height:0px;
    border-top: 1px solid white;
    width:100%;
    transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s;
    -moz-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Firefox 4 */
    -webkit-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Safari and Chrome */
    -o-transition: height 1s, background-color 1s, border-bottom-color 1s, border-top-color 1s; /* Opera */
}


#addPollButton {
    position: absolute;
    color: white;
    left: calc(50% - 5px);
    top: 15px;
    transition: top 1s, color 1s;
    -moz-transition: top 1s, color 1s;
    -webkit-transition: top 1s, color 1s;
    -o-transition: top 1s, color 1s;

}
    
#activePolls {
    display: flex;
    flex-direction: column;
    float:left;
    width: 33%;
    height:97vh;
}

#activePollBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
}

#inactivePolls {
    width:100%;
    display: flex;
}

#newPoll {
/*    position: fixed;
    bottom: 50px;
    right: 50px;*/
}


#rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

